
body{
    font-family: 'Lato',sans-serif;
    font-family: 'open sans',sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    font-size:45px ;
    font: weight 800; 
    color: #181818;
}
.text-primary{
    color: #fd6e0a;;
}
nav > ul {
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
   
}
nav a{
    color: #474747;
}
.heder {
   
      background-image: url('images/header_bg.png');
      background-repeat: no-repeat;
      background-position: bottom right;
   
}

.btn-primary{
    border-radius: 5px;
    background: #fd6e0a;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 34px;
    border: 0px;
}


.banner{
    padding: 23px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile{
    width: 500px;
}
.banner-gr{
    font-size: 45px;
  color: #474747;
  margin-bottom: 0;

}
.banner-ti{  font-size: 85px;
    font-weight: 700px;
margin-top: 5px;
margin-bottom: 20px;
}
.banner-contant {
    max-width: 500px;
}
.section-ti{
    font-size: 35px;
    font-weight: 700px;
    color: #181818;
    text-align: center;
}
.section-des{
    font-size: 18px;
   
    color: #757577;
    text-align: center;
    
}
.about{
    margin:130px 0px ;
    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
}
main{
    max-width: 1140px;
    margin: 0 auto;
  
}
.ki-korbo{
    display: flex;
    justify-content: space-around;
}
.ki{
    text-align: center;
   
}
#sec-des{
padding: 30px 150px;
}
.skill-container{
    display: flex;
}